<div class="modal fade" id="add_recipe" tabindex="-1" role="dialog" aria-labelledby="add_recipeTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="add_recipeTitle"><b>Ingredients Needed</b></h3>
          <button id= "closemodal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">

          <p id="modalcontents"></p>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="topmodal" style="background-color: #5a6268; float: left ; bottom: 15px;left: 15px;">Back to Top</button>
        </div>
      </div>
    </div>
  </div>