<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Navigation bar -->

    <!-- Logo -->
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="/userview">
        <img src="../../images/userview/logosmall.png" width="75" height="75" class="d-inline-block align-top" alt="Logo">
        <span>Pursuit of Flavour</span>
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">

        <!-- User buttons -->
        <ul class="navbar-nav flex-row ml-auto mt-1 ub">
          <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a href='/my_recipe' class="nav-link" id="recipes">My Recipes</a>
          </li>
          <li class="nav-item">
            <a href='/myingredients' class="nav-link" id="ingredients">My Ingredients</a>
          </li>
          <li class="nav-item">
            <a href='/cart' class="nav-link" id="cart">My Cart</a>
          </li>
          <li class="nav-item">
            <a href="/message/message" class="nav-link">Live Chat</a>
          </li>
          <li class="nav-item logout">
            <form class="in-line" action="/auth/logout" method="POST">
              <button class="btn btn-outline-danger my-2 my-sm-0" id="logout" type="submit" >Logout</button>
            </form>
          </li>
          
        </ul>
      </div>



    </nav>

    <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-header mx-auto">
            <h3>Browse Recipes</h3>
        </div>
        <hr>
        <ul class="list-unstyled components">
            <li class="nav-item">
              <form class="form-inline">
                <input id="searchbar" class="form-control" type="text" placeholder="Search Recipes..." aria-label="Search" name="searchterm">
                <button id="searchbtn" class="btn btn-outline-light" type="submit" formaction="/search/searchrecipe" formmethod="GET"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <br>
            <li class="nav-item">
              <form class="form-inline">
                <input id="searchbar" class="form-control" type="text" placeholder="Search Videos..." aria-label="Search" name="searchvideo">
                <button id="searchbtn" class="btn btn-outline-light " type="submit" formaction="/searchrecipevideos/searchrecipevideos" formmethod="GET"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <br>
            <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Cuisine</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <form action="/browse/browserecipesbyCuisine" method="POST">
                          <input type="hidden" value="american" name="cuisine">
                          <button class="sidebarbtn" title="navbar" type="submit">American
                          </button>
                        </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyCuisine" method="POST">
                        <input type="hidden" value="chinese" name="cuisine">
                        <button class="sidebarbtn" title="navbar" type="submit">Chinese
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyCuisine" method="POST">
                        <input type="hidden" value="japanese" name="cuisine">
                        <button class="sidebarbtn" title="navbar" type="submit">Japanese
                        </button>
                      </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Type</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="morning%20meal" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Breakfast
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="dinner" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Dinner
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="appetizer" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Appetizer
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="dessert" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Dessert
                        </button>
                      </form>
                  </li>
                </ul>
            </li>
            <li class="nav-item">
              <a href="#dietSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Diet</a>
              <ul class="collapse list-unstyled" id="dietSubmenu">
                <li class="nav-item">
                  <form action="/browse/browserecipesbyVegan" method="POST">
                    <input type="hidden" value="vegan" name="diet">
                    <button class="sidebarbtn" id= "vegan" title="navbar" type="submit">Vegan
                    </button>
                  </form>
                </li>
              </ul>
            </li>
        </ul>
        <hr>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a href="/faq">Customer Support</a>
          </li>
        </ul>
    </div>