#tableContainer{
    padding-top: 10px;
}

table{
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    padding: auto;
    padding-top: 100px;
}
th {
  background-color: #F5F5DC;
  color: black;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table, th, td{
    border: 1px solid grey;
    padding: 20px;


}

a:link {
  color: red;

}

a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}

body{
  background-color: gainsboro;
  font-family: Calibri, sans-serif;
}
