
body{
    background-color: gainsboro;
    font-family: Calibri, sans-serif;
}

#logo{
    position: relative;
}

#header{
    position: absolute;
    left: 210px;
    top: 0px;
}

#Menubar{
    position: absolute;
    top: 50px;
    right: 25px;
}

#searchbar{
    width: 756px;
    height: 20px
}

#searchbarimg {
    width: 35px;
    height: 35px;
}

.userbuttons {
    width: 152px;
    height: 35px;
    background-color: darkolivegreen;
    color: beige;
    border: none;
}

.userbuttons:hover{
    background-color: beige;
    color: darkolivegreen;
    border: none;
}

.wrapper{
    display: flex;
    display: block;
    width: 100%;
    align-items: stretch;

}

a {
    width: 250px;
    height: 50px;
    display: block;
    padding-top: 10px;
    border:1px solid white;
    border-top: 10px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    background-color: darkolivegreen;
    color: white;
}

a:hover {
	background-color: beige;
	color:darkolivegreen;
}

#api{
    position: absolute;
    right: 25px;
    top: 210px;
}