
body{
    background-color: gainsboro;
    font-family: Calibri, sans-serif;
}

#searchbar{
    width: 780px;
    height: 20px
}

#searchbarimg {
    width: 35px;
    height: 35px;
    border: solid 1px;
}

.userbuttons {
    width: 191px;
    height: 35px;
    background-color: darkolivegreen;
    color: beige;
    border: none;
    padding: 0px;
}

.userbuttons:hover{
    background-color: beige;
    color: darkolivegreen;
    border: none;
}

.wrapper{
    display: flex;
    display: block;
    width: 100%;
    align-items: stretch;
}

a {
    width: 250px;
    height: 50px;
    display: block;
    padding-top: 10px;
    border:1px solid white;
    border-top: 10px;
    text-align: center;
    /* vertical-align: center; */
    text-decoration: none;
    background-color: darkolivegreen;
    color: white;
}

a:hover {
	background-color: beige;
	color:darkolivegreen;
}

.progress-bar {
    width: calc(100% - 6px);
    height: 10px;
    background: darkolivegreen;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

/* #progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
} */