<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DATABASE</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="./stylesheets/style.css">
    <script type="text.javascript"src="index.js"></script>
  <style>
  p{
    text-transform:capitalize;
    font-family:'Times New Roman',Times,serif;
  }#tableContainer{
    padding-top: 10px;
}

table{
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    padding: auto;
    padding-top: 100px;
}
th {
  background-color: #F5F5DC;
  color: black;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table, th, td{
    border: 1px solid grey;
    padding: 20px;
}
a:link {
  color: red;

}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
body{
  background-color: gainsboro;
  font-family: Calibri, sans-serif;
}
</style>


</head>
<body>
  <header>
        <h1 align="center"style="font-size:30px;background-color:#F5F5DC;position:float">The Changes Were Successful!</h1>
  </header>
  <nav >
      <ul>
          <li>
              <a class="nav-link" href="/admin/viewUpdateUsers">Make more changes in the data</a>
          </li>
          <li>
                <a class="nav-link" href="/database">View the data</a>
          </li>

      </ul>
  </nav>
