<!DOCTYPE html>
<html>
<head>


</head>

    <body>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel='stylesheet' href='./stylesheets/userview.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <br>
        <p class="h1" style="text-align: center;">You have no Recipes! Browse New Recipes to get Started!</p>

        <!-- <form action="/add/adduser_recipe" method="POST">
            <div class="form-row" style="padding-bottom: 120px;">
                <div class="form-group col-md-10">
                  <label for="recipe_id">ID of the Recipe</label>
                  <input type="text" class="form-control" name="recipe_id" id="recipe_id" placeholder="ID of the recipe">
                </div>
            </div>
            <input style="position: relative; left: 15px; top: 20px;" type="submit" class="btn btn-primary btn-lg" name = "sub" value="Add a Recipe!">
        </form> -->


        <div class="wrapper">
            <div class="container-sd">
            <div class="row">
              <!-- Browsing recipes by category -->
              <div class="col-md-auto">
              <nav id="recipesidebar">
                <div class="sidebar-header">
                    <h3>Browse Recipes</h3>
                </div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cuisine</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;" href="/browserecipes/american">American</a>
                            </li>
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/chinese">Chinese</a>
                            </li>
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/japanese">Japanese</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Type</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/breakfast">Breakfast</a>
                            </li>
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/maincourse">Main Course</a>
                            </li>
                            <li>
                                <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/appetizer">Appetizer</a>
                            </li>
                            <li>
                              <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/dessert">Dessert</a>
                          </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/browserecipes/vegan">Veg/Vegan</a>
                    </li>
                    <li>
                        <a href="/browserecipes/healthy">Low Calorie</a>
                    </li>
                </ul>
            </nav>




        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript" src='userview.js'></script>

    </body>

    <br>
    <br>
    <a href="/userview" class="btn btn-success btn-lg" style="position: relative; left: 12px;">Go Back Home</a>







</html>
