<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/navigation.css'>

</head>

<body>

		<% if (type == "general") { %> 
			<%- include('../partials/navigation.ejs') %>
		<% } if (type == "admin") { %>
			<%- include('../partials/navigation-a.ejs') %>
		<% } %>


    <div class="content">
    <p class="h1" style="text-align: center;">You have no recipes, browse new recipes to get started!</p>
    </div>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>







</html>
