<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DATABASE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/navigation.css'>

    <!-- <link rel="stylesheet" href="./stylesheets/style.css"> -->
      <script type="text.javascript"src="index.js"></script>


  </head>
  <body>
    <%- include('../partials/navigation-a.ejs')%>

  <div class="content">
    <div class="container-fluid">


    <h2>Add a new user</h2>
    <hr>

    <form class=""action="/admin/addUsers"method="post" id="first" >
      <div class="form-row">
        <div class="form-group col-md-3">
          <a> First Name:<br></a><input value=""type="text"name="fname"placeholder="Enter First Name" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <a> Last Name: <br></a><input value=""type="text"name="lname"placeholder="Enter Last Name" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <a> Username:  <br></a><input value=""type="text"name="username"placeholder="Enter Username" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <a> Type:      <br></a><input value=""type="text"name="type"placeholder="Admin/General" class="form-control">
        </div>
        <div class="form-group col-md-5">
          <a> Email:  <br></a><input value=""type="text"name="email"placeholder="Enter email" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <a> Phone:     <br></a><input value=""type="text"name="phone"placeholder="Enter phone" class="form-control">
        </div>
        
        <div class="form-group col-md-4">
          <a> Password:  <br></a><input value=""type="text"name="password"placeholder="Enter password" class="form-control">
        </div>

      <input id="last"type ="submit"class="btn btn-primary">
    </div>

      </form>


      <br><br>
      <div class="row">
      <div class="col-md-6">
      <h2>Delete an existing user</h2>
      <hr>

      <form class="" action= "/admin/deleteUsers" method="post" >
      <a> Username:  <br></a><input type="text"name="username"placeholder="Enter Username" class="form-control"><br>
            <input id="last"type ="submit"class="btn btn-primary"><br>
      </form>
      <br><br>

      </div>


      <div class="col-md-6">
      <h2>View an existing user</h2>
      <hr>

      <form class="" action= "/admin/viewUsers" method="post">
      <a> Username:  <br></a><input type="text"name="username"placeholder="Enter Username" class="form-control"><br>
            <input id="last"type ="submit"class="btn btn-primary"><br>
      </form>
    </div>

    
    </div>
    <br>
    <a class="btn btn-success" href="/database">View the changes</a>
  </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
