<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing2.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fiod">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <!-- <img src='images/userview/logosmall.png' width="100px" height="100px"> -->
          <h4 style="color:white;font-size:40px; padding-left: 10px;">Pursuit Of Flavour</h4>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li style="color: white;"><a class="active" href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li style="padding-right: 30px;"><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="home">
    <div class="landing-text">
      <h1>Welcome to the pursuit of flavor</h1>
      <h3>Let's begin our ultimate flavor journey!</h3>
      <a href="/register" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>

  <div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/userview/logotransparent.png">
      </div>
      <div class="col-sm-6 text-center">
        <h2>Cooking Made Easy!</h2>
        <p class="lead">
          Welcome to Pursuit of Flavor! Pursuit of flavor gives our users the ability to quickly search, add and try new recipes.
          The easy to use design makes trying new recipes or old classics as easy as ever. Feeling adventurous? Try a new recipe
          that you never thought you would be able to make, or stick with the classics. Whatever suits your needs Pursuit of Flavor 
          has a recipe for you!
        </p>
      </div>
    </div>
  </div>
  </div>

  <div id="fixed">

  </div>

  <div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Find the recipes you want!</h4>
        <p>
          Browse recipes by their type, category or dietary restrictions. 
          Our app accomodates any dietary restrictions you may have. 
          Whether it's making pancakes for the whole family or 
          cocktails for date nights we have recipes to suit all of your 
          needs.
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src = "images/userview/recipe_1.jpg" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Get from browsing to cooking all with a few clicks!</h4>
        <p>
          Pursuit of Flavor makes finding new recipes and trying them
          as easy as ever. Add recipes to your account and add the required 
          ingredients to your cart. It really that easy!
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src = "images/userview/recipe_2.jpg" class="img-responsive">
      </div>
    </div>
  </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
