<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CMPT 276 Project</title>

  <link rel="stylesheet" href="./stylesheets/style.css">

</head>
<body>
  <header>
        <h1 align="center"style="font-size:30px;background-color:yellow;position:float">The Changes Were Successful!</h1>
  </header>
  <nav >
      <ul>
          <li>
              <a class="nav-link" href="/project.html">Make Changes in Database</a>
          </li>
          <li>
                <a class="nav-link" href="/database">Refresh Database</a>
          </li>
          <li>
                <a> To Edit Data, click on it inside the table </a>
          </li>
      </ul>
  </nav>
