<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add Ingredients</title>

</head>

<body>
    <h1>Upload an Image</h1>
    <br>

    <div id= "msg"></div>
    <%= typeof msg != 'undefined' ? msg: '' %>
    <form ref='uploadForm' id='uploadForm' action='/ingredients/fileUpload' method='post' encType="multipart/form-data">
      <input type="file" name="ingredient_image" />
      <!-- <button class="btn btn-primary" type='submit' value='Upload!'></button> -->
      <input class="btn btn-primary" type='submit' value='Upload!' />
    </form> 
    <br>
    <img src = "<%= typeof ingre != 'undefined' ? ingre: '' %>" class = "container" id = "img">
    <br>
    <br>
    <br>
    <button class="btn btn-primary btn-lg" id="imagerecognition" onclick="imagerecognition()">Image Recognition!</button>

    <script>


     function imagerecognition(){

        console.log(msg.innerHTML)
        $.get("/ingredients/labelImage", function(data){
            
            var img_ingredients = []
            // console.log(data)
            // console.log(Object.keys(data))
            img_ingredients = Object.keys(data);
            console.log(img_ingredients)
            // img_amounts = Object.values(data.amounts);
            increase(img_ingredients, data)

        }) 

    }

    function increase(ingr, dict){
        console.log("in function increase", ingr)
        
        let eachIngre = ingr.map(item => fetch('/ingredients/imgAddIngredients',{
                method:"post",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({'ingredient':item, 'amount':dict})
                }))

                Promise.all(eachIngre).then(function (response) {
                        console.log("updated");
                    })
                    
                // .catch(err => {
                //     console.log(err);
                //     res.status(404)
                // });
       
    }

    </script>


    <a href="/userview" class="btn btn-success btn-lg" style="position: relative; left: 12px;">Go Back Home</a>












    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>



























</html>