<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Pusuit of Flavour</title>
    
    <link rel='stylesheet' href='./stylesheets/userview.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="JavaScript" src='userview.js'></script>

</head>

<body>

    <div>
      <img id="logo" src="../../images/userview/logo.png" width="200" height="200">
      <h1 id="header" style="font-size: 500%; color: darkolivegreen;">Pursuit of Flavour</h1><br><br><br><br>
    </div>

    <div id="Menubar">
      <form id="searchmenu">
        <button id="searchbarimg"> <img src="../../images/userview/search.png" width="25" height="25"></button>
        <input id="searchbar" type="text" placeholder="Search Recipes..." name="search">
      </form> <br>
  
      <img src="../../images/userview/profile.png" width="35" height="35">
      <% if(username){%>
        <button class="userbuttons" id="account"><%=username%></button>
      <% } %>
      <!-- <a href='/my_recipie'> 
        <button class="userbuttons" id="recepies"> 
          My Recipes 
        </button> 
      </a> -->
      <a href='/my_recipe' class="userbuttons" id="recipes">My Recipes</a>
      <!-- <button class="userbuttons" id="recipes">My Recipes</button> -->
      <button class="userbuttons" id="ingredients">My Ingredients</button>
      <form action="/auth/logout" method="POST">
        <button class="userbuttons" id="logout" type="submit" style="position: relative; bottom: 40px; left: 400px;">Logout</button>
      </form>


    </div>

    <nav id="sidebuttons">
      <div id="Browse-menu">
          <b id="Browse-title" style="font-size: x-large;">Browse</b> 
          <li><a href="#">Cuisine</a></li>
          <li><a href="#">Type</a></li>
          <li><a href="#">Veg / Vegan</a></li>
          <li><a href="#"> Low Calories</a></li>
        </div> 

        <br> <br>
      <div id="Ingredients-menu">
        <b id="Ingredients-title" style="font-size: x-large;">Ingredients</b> 
          <li><a href="#">Meats</a></li>
          <li><a href="#">Produce</a></li>
          <li><a href="#">Grains</a></li>
          <li><a href="#">Seasonings</a></li>
        </div> 
    </nav>

    <div id="api">
    <div id="recipe-api">
      <b style="font-size: x-large;">New Recipes</b> <br>
  		<button style="width:1500px;height:255px;border:1px solid">RECIPE API</button>
    </div> <br>
    
    <div id="maps-api">
  		<b style="font-size: x-large;">Stores Near Me</b> <br>
  		<button style="width:1500px;height:255px;border:1px solid">GOOGLE MAPS API</button>
    </div>  
  </div>

</body>





</html>