<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
    <title>Pusuit of Flavour</title>
    <link rel='stylesheet' href='./stylesheets/mainpage.css'>
    <script src='mainpage.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<p>
		<form class="searchbar">
			<button><img src="../../images/userview-a/search.png" width="15" height="15"></button>
			<input type="text" placeholder="Search Recipes..." name="search">
		</form>
	</p>

	<p>
		<form class="userbuttons">
			<img src="../../images/userview-a/profile.png" width="25" height="25">
			<button id="account">My Account</button>
			<button id="recipes">My Recipes</button>
			<button id="ingredients">My Ingredients</button>
		</form>
	</p>

</body>
</html>