<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Pusuit of Flavour</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/userview.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>




  <body>

    <!-- Navigation bar -->

    <!-- Logo -->
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="/userview">
        <img src="../../images/userview/logosmall.png" width="75" height="75" class="d-inline-block align-top" alt="Logo">
        <span>Pursuit of Flavour</span>
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">

        <!-- User buttons -->

        <ul class="navbar-nav flex-row ml-auto mt-1 ub">
          <li class="nav-item mr-auto">
            <form>
              <button class="btn btn-danger my-2 my-sm-0" type="submit" formaction="/database" formmethod="GET">Admin</button>
            </form>

          </li>
          <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a href='/my_recipe' class="nav-link" id="recipes">My Recipes</a>
          </li>
          <li class="nav-item">
            <a href='/myingredients' class="nav-link" id="ingredients">My Ingredients</a>
          </li>
          <li class="nav-item">
            <a href='/cart' class="nav-link" id="cart">My Cart</a>
          </li>
          <li class="nav-item">
            <a href="/message/message" class="nav-link">Live Chat</a>
          </li>
          <li class="nav-item logout">
            <form class="in-line" action="/auth/logout" method="POST">
              <button class="btn btn-outline-danger my-2 my-sm-0" id="logout" type="submit" >Logout</button>
            </form>
          </li>
          
        </ul>
      </div>



    </nav>

    <!-- Sidebar -->
    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-header mx-auto">
            <h3>Browse Recipes</h3>
        </div>
        <hr>
        <ul class="list-unstyled components">
            <li class="nav-item">
              <form class="form-inline">
                <input id="searchbar" class="form-control" type="text" placeholder="Search Recipes..." aria-label="Search" name="searchterm">
                <button id="searchbtn" class="btn btn-outline-light" type="submit" formaction="search/searchrecipe" formmethod="GET"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <br>
            <li class="nav-item">
              <form class="form-inline">
                <input id="searchbar" class="form-control" type="text" placeholder="Search Videos..." aria-label="Search" name="searchvideo">
                <button id="searchbtn" class="btn btn-outline-light " type="submit" formaction="searchrecipevideos/searchrecipevideos" formmethod="GET"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <br>
            <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Cuisine</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <form action="/browse/browserecipesbyCuisine" method="POST">
                          <input type="hidden" value="american" name="cuisine">
                          <button class="sidebarbtn" title="navbar" type="submit">American
                          </button>
                        </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyCuisine" method="POST">
                        <input type="hidden" value="chinese" name="cuisine">
                        <button class="sidebarbtn" title="navbar" type="submit">Chinese
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyCuisine" method="POST">
                        <input type="hidden" value="japanese" name="cuisine">
                        <button class="sidebarbtn" title="navbar" type="submit">Japanese
                        </button>
                      </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Type</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="morning%20meal" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Breakfast
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="dinner" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Dinner
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="appetizer" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Appetizer
                        </button>
                      </form>
                    </li>
                    <li class="nav-item">
                      <form action="/browse/browserecipesbyType" method="POST">
                        <input type="hidden" value="dessert" name="type">
                        <button class="sidebarbtn" title="navbar" type="submit">Dessert
                        </button>
                      </form>
                  </li>
                </ul>
            </li>
            <li class="nav-item">
              <a href="#dietSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Diet</a>
              <ul class="collapse list-unstyled" id="dietSubmenu">
                <li class="nav-item">
                  <form action="/browse/browserecipesbyVegan" method="POST">
                    <input type="hidden" value="vegan" name="diet">
                    <button class="sidebarbtn" id= "vegan" title="navbar" type="submit">Vegan
                    </button>
                  </form>
                </li>
              </ul>
            </li>
        </ul>
        <hr>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a href="/faq">Customer Support</a>
          </li>
        </ul>
    </div>


    <!-- APIS -->
    <div class="container-fluid padding apis">

        <!-- Recipe API -->
    <div class="recipe-api">
      <h3>Recommended Recipes</h3>
      <hr>
      <div class="row padding">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img1" src="" alt="">
            <div class="card-body">
              <h5 class="card-title" id="title1"></h5>
              <a href="#" id="button1" class="btn btn-outline-secondary recipe-details-button" data-recipeId = >Details</a>
              <button title="buttonadd1" onclick="add_rec(id)" style="background-color: darkolivegreen;" id = '' type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_recipe">Add to My Recipes!</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img2" src="" alt="">
            <div class="card-body">
              <h5 class="card-title" id="title2"></h5>
              <a href="#" id="button2" class="btn btn-outline-secondary recipe-details-button">Details</a>
              <button title="buttonadd2" onclick="add_rec(id)" style="background-color: darkolivegreen;" id = '' type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_recipe">Add to My Recipes!</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img3" src="" alt="">
            <div class="card-body">
              <h5 class="card-title" id="title3"></h5>
              <a href="#" id="button3" class="btn btn-outline-secondary recipe-details-button">Details</a>
              <button title="buttonadd3" onclick="add_rec(id)" style="background-color: darkolivegreen;" id = ''  type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_recipe">Add to My Recipes!</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img4" src="" alt="">
            <div class="card-body">
              <h5 class="card-title" id="title4"></h5>
              <a href="#" id="button4" class="btn btn-outline-secondary recipe-details-button">Details</a>
              <button title="buttonadd4" onclick="add_rec(id)" style="background-color: darkolivegreen;" id = '' type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_recipe">Add to My Recipes!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="maps-api">
      <br><br>
        <!-- MAPS API -->
      <h3>Grocery Stores Near Me</h3>
      <hr>
      <div id="render_map"></div>

      <script>
        ren_store = document.getElementById("render_map");
        const on_succ = (position)=>{
          console.log(position);
          ren_store.innerHTML = `<iframe
          width="600"
          height="350"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDx6KEuTSZstpQ3w5TtqeCgC7E7KXT3Z3o&q=grocery+store+near+me/@${position.coords.latitude},${position.coords.longitude}&zoom=12&center=${position.coords.latitude},${position.coords.longitude}" allowfullscreen>
          </iframe>`

        };

        const on_error = (error)=>{
          console.log(error);
          ren_store.innerHTML = `<iframe
          width="600"
          height="350"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDx6KEuTSZstpQ3w5TtqeCgC7E7KXT3Z3o&q=grocery+store+in+vancouver+/@49.2578629,-123.1424164,13z/data=!3m1!4b1&zoom=12" allowfullscreen>
          </iframe>`
        };


        navigator.geolocation.getCurrentPosition(on_succ,on_error);

      </script>
      <!-- MAPS API finished -->
      </div>
    </div>
  </div>

  <%- include('../partials/recipeDetails.ejs')%>

  <%- include('../partials/ingredientDetails.ejs')%>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src='userview.js'></script>
    <script type="text/javascript" src="recipeDetails.js"></script>


    <script>
      fetch("https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/random?number=4", {
        "method": "GET",
        "headers": {
        "x-rapidapi-host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com",
        "x-rapidapi-key": "bffc1f9da3msh5395e6eda5e41aep1fbc6fjsn5a9e415e3423"
        }
      })
      .then(response => {
        return response.json();
      })
      .then(data => {
        for (var i=1; i<5; i++){
          var img = data.recipes[i-1].image;
          var title = data.recipes[i-1].title;
          var id = data.recipes[i-1].id;
          if (img) {
            $('#img'+i.toString()).attr('src', img);
            $('#title'+i.toString()).text(title);
          }
          else {
            $('#img'+i.toString()).attr('alt', 'Image Not Found');
            $('#title'+i.toString()).text(title);
          }
          $('#button'+i).attr('data-recipeId',id);
          $('button[title|="buttonadd'+i+'"]').attr('id',id);

        }
      })
      .catch(err => {
        console.log(err);
      });
    </script>

  <script type="text/javascript" src='/browserecipes.js'></script>


  </body>

</html>
