<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Pusuit of Flavour</title>
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel='stylesheet' href='./stylesheets/userview.css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body>

    <!-- Navigation bar -->

    <!-- Logo -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/userview">
        <img src="../../images/userview/logosmall.png" width="75" height="75" class="d-inline-block align-top" alt="Logo">
        <span>Pursuit of Flavour</span>
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Search bar -->
      <div class="collapse navbar-collapse flex-column" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-1 mb-1">
          <li class="nav-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2" style="width: 400px" type="search" placeholder="Search Recipes..." aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>

        <!-- User buttons -->
        <ul class="navbar-nav flex-row ml-auto mt-1">
          <li class="nav-item active">
            <a class="nav-link" href="/userview">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <% if(username){%>
              <a class="nav-link" href="#"><%=username%></a>
            <% } %>
          </li>
          <li class="nav-item">
            <a href='/my_recipe' class="nav-link" id="recipes">My Recipes</a>
          </li>
          <li class="nav-item">
            <a href='/myingredients' class="nav-link" id="ingredients">My Ingredients</a>
          </li>
          <li class="nav-item logout">
            <form class="in-line" action="/auth/logout" method="POST">
              <button class="btn btn-outline-danger my-2 my-sm-0" id="logout" type="submit" >Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Sidebar -->
    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-header mx-auto">
            <h3>Browse Recipes</h3>
        </div>
        <hr>
        <ul class="list-unstyled components">
            <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Cuisine</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item"> 
                        <a class="nav-link"  href="/browserecipes/american">American</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browserecipes/chinese">Chinese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browserecipes/japanese">Japanese</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Type</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/browserecipes/breakfast">Breakfast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browserecipes/maincourse">Main Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browserecipes/appetizer">Appetizer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/browserecipes/dessert">Dessert</a>
                  </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/browserecipes/vegan">Veg/Vegan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/browserecipes/healthy">Low Calorie</a>
            </li>
        </ul>
    </div> 


    <!-- APIS -->
    <div class="container-fluid padding apis">

    <!-- Recipe API -->
    <div class="recipe-api">
      <h3>Recommended Recipes</h3>
      <hr>
      <div class="row padding">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img1" src="" alt="">
            <div class="card-body">
              <h4 class="card-title" id="title1">Title</h4>
              <a href="#" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img2" src="" alt="">
            <div class="card-body">
              <h4 class="card-title" id="title2">Title</h4>
              <a href="#" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img3" src="" alt="">
            <div class="card-body">
              <h4 class="card-title" id="title3">Title</h4>
              <a href="#" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" id="img4" src="" alt="">
            <div class="card-body">
              <h4 class="card-title" id="title4">Title</h4>
              <a href="#" class="btn btn-outline-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
        
      <div class="maps-api">
        <h3>Stores Near Me</b> <br>
        <hr>
        <button>GOOGLE MAPS API</button>
      </div>  
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src='userview.js'></script>

    <script>
      fetch("https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/random?number=4", {
        "method": "GET",
        "headers": {
        "x-rapidapi-host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com",
        "x-rapidapi-key": "00b52d5f6dmsh0b593edd8c00e17p100848jsn6b6dadc41877"
        }
      })
      .then(response => {
        return response.json();
      })
      .then(data => {
        for (var i=1; i<5; i++){
          var img = data.recipes[i-1].image;
          var title = data.recipes[i-1].title;
          if (img) {
            $('#img'+i.toString()).attr('src', img);
            $('#title'+i.toString()).text(title);
          }
          else {
            $('#img'+i.toString()).attr('alt', 'Image Not Found');
            $('#title'+i.toString()).text(title);
          }
        }
      }) 
      .catch(err => {
        console.log(err);
      });
    </script>

  </body>

</html>