<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Pusuit of Flavour</title>
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel='stylesheet' href='./stylesheets/userview.css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body>
    <div class="container-sd">
      <div class="container-sd">
        <div class="row">
          <div class="col-md-auto">
            <img id="logo" src="../../images/userview/logo.png" width="180" height="180">
          </div>
          <div class="col-md-auto">
            <h1 id="header" style="font-size: 450%; color: darkolivegreen;">Pursuit of Flavour</h1><br><br><br><br>
          </div>
  
          <div class="col-md-auto" id="Menubar"> 
            <form id="searchmenu">
              <button id="searchbarimg"> <img src="../../images/userview/search.png" width="25" height="25"></button>
              <input id="searchbar" type="text" placeholder="Search Recipes..." name="search">
            </form> <br>
        
            <form>
              <img src="../../images/userview/profile.png" width="35" height="35">
              <% if(username){%>
                <button class="userbuttons" id="account"><%=username%></button>
              <% } %>
              <a href='/my_recipe' class="userbuttons" id="recipes">My Recipes</a>
              <a href='/myingredients' class="userbuttons" id="ingredients">My Ingredients</a>
              <button class="userbuttons" id="logout" type="submit" formaction="/auth/logout" formmethod="POST">Logout</button>
            </form> 
          </div>
        </div>
      </div>
      <!-- Left Drop down menu -->
      <div class="wrapper">
        <div class="container-sd">
        <div class="row">
          <!-- Browsing recipes by category -->
          <div class="col-md-auto">
          <nav id="recipesidebar">
            <div class="sidebar-header">
                <h3>Browse Recipes</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cuisine</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;" href="/browserecipes/american">American</a>
                        </li>
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/chinese">Chinese</a>
                        </li>
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/japanese">Japanese</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Type</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/breakfast">Breakfast</a>
                        </li>
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/maincourse">Main Course</a>
                        </li>
                        <li>
                            <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/appetizer">Appetizer</a>
                        </li>
                        <li>
                          <a style="background-color: beige;color: darkolivegreen;"href="/browserecipes/dessert">Dessert</a>
                      </li>
                    </ul>
                </li>
                <li>
                    <a href="/browserecipes/vegan">Veg/Vegan</a>
                </li>
                <li>
                    <a href="/browserecipes/healthy">Low Calorie</a>
                </li>
            </ul>
        </nav> 
        <nav id="ingredientssidebar">
          <div class="sidebar-header">
            <h3>Browse Ingredients</h3>
          </div>
          <ul class="list-unstyled components">
            <li><a href="/browseingredients/meats">Meats</a></li>
            <li><a href="/browseingredients/produce">Produce</a></li>
            <li><a href="/browseingredients/grains">Grains</a></li>
            <li><a href="/browseingredients/seasonings">Seasonings</a></li>
        </nav>
        </div>
        <div class="col=col-md-auto" id="api">
        <div id="recipe-api">
          <b style="font-size: x-large;">New Recipes</b> <br>
          <button >RECIPE API</button>
        </div> <br>
        
    <!-- MAPS API -->
    <b style="font-size: x-large;">Grocery Stores Near Me</b> <br>
    <div id="render_map"></div>

  <script>
    ren_store = document.getElementById("render_map");
    const on_succ = (position)=>{
      console.log(position);
      ren_store.innerHTML = `<iframe
      width="600"
      height="350"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDx6KEuTSZstpQ3w5TtqeCgC7E7KXT3Z3o&q=grocery+store+near+me/@${position.coords.latitude},${position.coords.longitude}" allowfullscreen>
      </iframe>`
      
    };

    const on_error = (error)=>{
      console.log(error);
      ren_store.innerHTML = `<iframe
      width="600"
      height="350"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDx6KEuTSZstpQ3w5TtqeCgC7E7KXT3Z3o&q=grocery+store+in+vancouver+/@49.2578629,-123.1424164,13z/data=!3m1!4b1" allowfullscreen>
      </iframe>`
    };
    
    
    navigator.geolocation.getCurrentPosition(on_succ,on_error);

  </script>
  <!-- MAPS API finished -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src='userview.js'></script>

  </body>

</html>