<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Pusuit of Flavour</title>
    
    <link rel='stylesheet' href='./stylesheets/userview.css'>
    <script src='userview.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <h1 style="font-size: 300%; color: darkolivegreen;">Pursuit of Flavour</h1><br><br><br><br>
    
    <nav>
      <div id="Browse-menu">
          <b id="Browse-title" style="font-size: x-large;">Browse</b> 
          <li><a href="#">Cuisine</a></li>
          <li><a href="#">Breakfast/Lunch/Dinner</a></li>
          <li><a href="#">Veg/Vegan</a></li>
          <li><a href="#"> Low Calories</a></li>
        </div> 

        <br> <br>
      <div id="Ingredients-menu">
        <b id="Ingredients-title" style="font-size: x-large;">Ingredients</b> 
          <li><a href="#">Meats</a></li>
          <li><a href="#">Produce</a></li>
          <li><a href="#">Grains</a></li>
          <li><a href="#">Seasonings</a></li>
        </div> 
    </nav>


</body>



</html>